In [24]:
import pandas as pd

In [26]:
df = pd.read_csv("Air Crash Full Data Updated_2024.csv")
df.head()

,Year,Quarter,Month,Day,Country/Region,Aircraft Manufacturer,Aircraft,Location,Operator,Ground,Fatalities (air),Aboard
0,1970,Qtr 2,April,28,NaN,de Havilland Canada,de Havilland Canada DHC 6 Twin Otter 100VH,Kainatu,Airlines Australia GuineaTrans New,0,8,11
1,1952,Qtr 2,April,30,NaN,Douglas,Douglas DC 3VT,Delhi,Airways IndiaDeccan,0,9,9
2,1973,Qtr 2,April,10,NaN,Vickers Vanguard,Vickers Vanguard 952G AXOP,Near Basel,(UK) Airlines International SwitzerlandInvicta,0,108,145
3,2000,Qtr 2,April,19,'-,Antonov,Antonov AN 8TL,Pepa -,Airlines Centrafricain,0,24,24
4,1946,Qtr 2,April,30,'-,Douglas,Douglas C 47A FZ559,Pindi-Khut -,Force Air Royal,0,12,12

In [28]:
df.info()

df['Date'] = pd.to_datetime(
    df[['Year', 'Month', 'Day']],     
    errors='coerce'                   
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5035 entries, 0 to 5034
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   5035 non-null   int64
 1   Quarter                5035 non-null   object
 2   Month                  5035 non-null   object
 3   Day                    5035 non-null   int64
 4   Country/Region         4805 non-null   object
 5   Aircraft Manufacturer  5035 non-null   object
 6   Aircraft               5035 non-null   object
 7   Location               5035 non-null   object
 8   Operator               4801 non-null   object
 9   Ground                 5035 non-null   int64
 10  Fatalities (air)       5035 non-null   int64
 11  Aboard                 5035 non-null   int64
dtypes: int64(5), object(7)
memory usage: 472.2+ KB

In [30]:
# extract again any component when you need it
df['Year']    = df['Date'].dt.year
df['Month']   = df['Date'].dt.month
df['Day']     = df['Date'].dt.day
df['Quarter'] = df['Date'].dt.quarter

In [36]:
df["Country/Region"].unique()

array([nan, "'-", ' Alaska', '10', 'Afghanistan', 'Aichi', 'Alaska',
       'Algeria', 'Angola', 'Argentina', 'Australia', 'Azerbaijan',
       'Bahamas', 'Bali', 'Belgian', 'Black', 'Bolivia', 'Botswana',
       'Brazil', 'Brazil\tAmazonaves', 'British', 'Calabria',
       'California', 'Cameroon', 'Cameroons', 'Canada', 'Canary',
       'Channel', 'Chechnya', 'Chile', 'China', 'China?', 'Colombia',
       'Colorado', 'Congo', 'Croatia', 'Cyprus', 'Democratic', 'East',
       'Ecuador', 'England', 'Equatorial', 'Estonia', 'Ethiopia',
       'Finland', 'Florida', 'France', 'French', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Guangxi', 'Guatemala',
       'Guyana', 'Hawaii', 'Honduras', 'Hong', 'Idaho', 'India',
       'India\tPawan', 'Indiana', 'Indonesia', 'Iowa', 'Iran', 'Iraq',
       'Ireland', 'Isle', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kansas',
       'Kenya', 'Laos', 'Libya', 'London', 'Madagascar', 'Malta',
       'Mexico', 'Michigan', 'Moldova', 'Mongolia', 'Morocco', 'near',
       'Netherlands', 'Nevada', 'New', 'Newfoundland', 'Nicaragua',
       'Niger', 'Nigeria', 'North', 'Northern', 'Norway', 'Norway\tCHC',
       'NYUS', 'Ohio', 'Oklahoma', 'ON', 'Pakistan', 'Panama', 'Papua',
       'Pennsylvania', 'Peru', 'Philippines', 'Poland', 'Puerto',
       'Quebec', 'Russia', 'Rwanda', 'Sarawak', 'Saudi', 'Scotland',
       'Senegal', 'SK', 'Somalia', 'South', 'South-West', 'Spain', 'Sri',
       'Sudan', 'Suriname', 'Switzerland', 'Syria', 'Taiwan', 'Tennesee',
       'Tennessee', 'Texas', 'Thailand', 'Trinidad', 'Turkey', 'Ukraine',
       'USSRAeroflot', 'Venezuela', 'Vietnam', 'Virgin', 'Washington',
       'West', 'Wyoming', 'Yugoslavia', 'Zaire', '100', 'Alabama',
       'Alaksa', 'Arizona', 'Arkansas', 'Australila', 'Azores', 'Bahrain',
       'Bangladesh', 'BC', 'Belgium', 'Bias', 'Brazil\tLoide', 'Bulgaria',
       'Burma', 'Cape', 'Connecticut', 'Cook', 'Costa', 'Cuba',
       'Czechoslovakia', 'Denmark', 'Egypt', 'Guam', 'Guantanamo',
       'Haiti', 'Hungary', 'Iceland', 'Illinois', 'Kazakastan', 'Kent',
       'Kentucky', 'Kyrgyzstan', 'Lebanon', 'Leeward', 'Louisiana',
       'Maine', 'Malaysia', 'Manitoba', 'Martinique', 'Maryland',
       'Massachusetts', 'Mauretania', 'Miao-li', 'miles', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Myanmar', 'Nebraska',
       'Nepal', 'Nunavut', 'Oman', 'Oregon', 'Paraguay', 'Persian', 'PQ',
       'Romania', 'San', 'Spain\r\n\t\r\nMoron', 'Sweden', 'Tajikistan',
       'Tanzania', 'Terceira', 'United', 'Upper', 'Utah', 'Uzbekistan',
       'Västergötland', 'Vera', 'Vermont', 'Virginia', 'Wisconsin',
       'Yemen', 'Yugosalvia', 'Airlines', 'Algarve', 'Armenia',
       'Atlantic', 'Austria', 'Ayrshire', 'Beni', 'Benin', 'Bermuda',
       'Brunei', 'Bugaria', 'Chicago', 'Coloado', 'Comoros', 'Condor',
       'Corsica', 'Curacao', 'D.C.Capital', 'Da', 'Fiji', 'Florida?',
       'Huanuco', 'Jiangsu', 'Kazakhstan', 'Kodiak', 'Kuwait', 'Labrador',
       'Latvia', 'Mariana', 'Mauritania', 'Northwest', 'NWT', 'off',
       'Okinawa', 'Ontario', 'Portugal', 'Qatar', 'Saskatchewan',
       'Sicily', 'Slovakia', 'Surrey', 'The', 'Uzbekstan', 'Valle', 'WA',
       'WYUS', 'Zimbabwe', 'Alberta', 'Argentinade', 'Belarus',
       'Bosnia-Herzegovina', 'Brisbane', 'Buea', 'Californiia',
       'Columbia', 'Crete', 'Delaware', 'Djbouti', 'Domincan',
       'Dominican', 'El', 'Hati', 'HIPan', 'Indonesia\r\n\t\r\nSarmi',
       'Lancs', 'Liberia', 'Los', 'Mali', 'Margarita', 'Minnisota',
       'Mozambique', 'NSW', 'Pacific', 'PE', 'Queensland', 'Rhode',
       'Rhodesia', 'Rio', 'Trento', 'Tunisia', 'UARMisrair', 'Uruguay',
       'Victoria', 'Vizcaya', 'Wantagh', 'Warks', 'Wisconson', 'Zambia',
       ' Japan', ' NWT Canada', ' Somalia', 'Air', 'American', 'Ariège',
       'Barbados', 'Besar', 'Boliva', 'Boliviano', 'California?',
       'Comoro', 'Covington', 'Cundinamarca', 'Czech', 'D.C.Air', 'Dutch',
       'Gabon', 'Horley', 'Hunary', 'Ilinois', 'Inodnesia', 'Ivory',
       'Jamacia', 'Lochgoilhead', 'Lombok', 'Macedonia', 'Maharashtra',
       'Marine', 'Minnesota46826/109', 'NE', 'Norrbotten', 'Qld', 'Samoa',
       'Sardinia', 'Siberia', 'Sichuan', 'Suiyang', 'Sumatra', 'Timor',
       'U.S.', 'Uganda', 'Veracruz', 'Western', 'Yukon', '325', 'Alakska',
       'Azuay', 'Baangladesh', 'Boston', 'Bulgeria', 'Cargo', 'Central',
       'Eritrea', 'Germany?', 'Gerona', 'Gilbert', 'Guinea', 'Gujarat',
       'HIAir', 'Indian', 'Irian', 'Jersey', 'Lorraine', 'Malagasy',
       'Manmar', 'Middlesex', 'Mississipi', 'Norfork', 'Orly', 'Para',
       'Shetlands', 'Sulu', 'Tahiti', 'UKBritish', 'Vanuatu', '110',
       '116', '18', '570', 'Amsterdam', 'Bavaria', 'Cambodia', 'Chad',
       'Cheshire', 'Covington/Hebron', 'England?', 'Great', 'Guadaloupe',
       'Gulf', 'Islay', 'Khmer', 'Lombardia', 'Manatoba', 'Mount',
       'Namibia', 'Napal', 'Nuevo', 'OLD', 'QC', 'Qld.', 'Ryukyu',
       'Saudia', 'Sierra', 'Slovenia', 'Surinam', 'Tokyo', 'Val-de-Marne',
       'Albania', 'Azerbaijan\r\n\t\r\nBakou', 'CADuncan', 'Cailifornia',
       'Calilfornia', 'Cardiff', 'Cocos', 'Guadeloupe', 'Kauai',
       'Massachutes', 'Mexic', 'Mt.', 'N', 'Newfoundlandu.s.', 'Nova',
       'Philippine', 'Providencia', 'Republic', 'Reunion', 'Sierre',
       'Singapore', 'Soviet', 'St.', 'Tanganyika', 'Tasmania',
       'Turkmenistan', 'USSRBalkan', 'Volcano', 'Zulia', ' Myanmar',
       'Airzona', 'Aregntina', 'Brazil\r\nFlorianopolis', 'Catalina',
       'Chile\tAerolineas', 'Djibouti', 'Dorset', 'FL', 'Guanacaste',
       'Hants', 'Honduras?', 'Madrid', 'Miami', 'Moldavia', 'Philipines',
       'Picrdie', 'Prov.', 'Queens', 'US', 'Aaland', 'Afghanstan',
       'Bhutan', 'CAMilitary', 'de', 'Glens', 'Guernsey', 'Huila',
       'Inner', 'Island', 'Jeddah', 'Kosovo', 'Lesotho', 'Luxembourg',
       'Malawi', 'Malinau', 'Molokai', 'Nambia', 'Ross', 'Saint',
       'Sussex', 'USSRMilitary', 'Washingon', 'Yunan', '800', 'DR',
       'Ellesmere', 'Granada', 'Italyde', 'Jawa', 'Kirghizia', 'Loire',
       'Malaya', 'Placentia', 'Solomon', 'Tajikistan\tMilitary',
       'USSRAerflot', 'Aargau', 'Africa', 'AKAlaska', 'Argyll', 'Biafra',
       'Buckinghamshire', 'Deleware', 'Democtratic',
       'Djibouti\r\n\tDjibouti', 'Faeroe', 'France?', 'Hrvatska',
       'Marshall', 'Micronesia', 'Montserrat', 'Morroco', 'Oltenia',
       'Phillipines', 'Russian', 'Sao', 'SC', 'Stirlingshire', 'Tusayan',
       'UAEGulf', 'Virginia.American', 'Zabul'], dtype=object)

In [40]:
df['Operator'].unique()

array(['Airlines Australia GuineaTrans New', 'Airways IndiaDeccan',
       '(UK) Airlines International SwitzerlandInvicta', ...,
       'Services Aero MMM', 'Zaïroise Aérienne Force - Military',
       'Sweden Transair'], dtype=object)